git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/TAMA1899/yutup
tgcrypto
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
youtube-search
pillow
future
psutil
wget
ffmpeg-python
heroku3
motor
dnspython
